
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
}

.Normal-Button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.header-illustration-mobile {
  position: absolute;
  width: 630.38px;
  height: 653.32px;
  left: -126.38px;
  top: 92.8px;
}

.headline { text-align: center; }

.Primary {
  position: absolute;
  width: 327px;
  height: 211px;
  left: 27px;
  top: 156px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.Supporting-Text {
  position: absolute;
  width: 327px;
  height: 164px;
  left: 27px;
  top: 382px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-icons {
  position: absolute;
  width: 170.17px;
  height: 19.62px;
  left: 105px;
  top: 568.89px;
}

.social-media-icon { padding: 10px 5px; }

.color1 { color: #36B37E; }

.color2 { color: #C5E9DA; }

.color3 { color: #EBF0EE; }

.color4 { color: #172B4D; }

.color5 { color: #FFFFFF; }
