
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.space {
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  body {
    background-image: url("Assets/headline-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}

#logo {
  padding: 10px 12px;
  width: 48px;
  height: 48px;
}

nav ul {
  display: none;
}

.Normal-Button {
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.header-illustration-mobile {
  width: 630.38px;
  height: 653.32px;
  top: 92.8px;
}

/* Headline */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Primary {
  text-align: center;
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.Supporting-Text {
  width: 327px;
  height: 164px;
  top: 382px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-icons {
  list-style: none;
}

form li + li {
  margin-top: 24px;
}

.social-media-icons li {
  display: inline-block;
  padding: 5px;
}

.bottom-arrow {
  display: none;
}

/* Works */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 26px;
  margin-right: 28px;
}

.works-title {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  height: top;
  padding-bottom: 30px;
  text-align: center;
}

.works-indicator {
  padding-bottom: 62px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: 400px auto;
  background-color: #ebf0ee;
  border-radius: 8px;
  margin: 24px 5px;
  border: 1px solid #c1c7d0;
}

.grid-container div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.card-top-half {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #ebf0ee;
  height: 400px;
  border-radius: 8px;
  padding: 0;
}

.card-bottom-half {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.card-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.grey-button {
  background-color: #ebf0ee;
  border: none;
  color: #172b4d;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin: 4px 2px;
  border-radius: 4px;
}

.green-button {
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 17px;
  margin: 40px 0 10px 0;
  cursor: pointer;
  border-radius: 4px;
}

/* about me */

@media (max-width: 768px) {
  .About-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Assets/aboutme-top.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    width: 100%;
  }

  .about-me-button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("Assets/aboutme-bottom.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
  }
}

/* skill cards */
.Languages-Frameworks-skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 24px;
  margin-right: 30px;
}

.skill-card {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #ebf0ee;
  padding: 1px;
}

.skill-image {
  padding-top: 40px;
}

.skill-card-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.skill-technologies {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-bottom: 80px;
}

.skill-button {
  background-color: #fff;
  border: none;
  color: #36b37e;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 8px;
}

/* contact-me */
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("Assets/footerBackground.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.contact-header {
  text-align: center;
  margin-bottom: 5rem;
}

.contact-me-title {
  text-align: center;
  padding-left: 24px;
  padding-right: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.first-name, .last-name {
  display: none;
}

form {
  width: 90%;
}

.contact-me-button-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input {
  font: 1em sans-serif;
  font-style: italic;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
  vertical-align: top;
  min-height: 114px;
}

::placeholder {
  color: #6b778c;
}

textarea::placeholder {
  font-size: 15px;
  color: #42526e;
}

.button {
  padding-left: 90px;
}

.email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 31px 0;
}

.contact-me-button {
  color: #fff;
  height: 48px;
  padding: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* footer */
footer {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:enabled {
  background-color: #36b37e;
}

button:active {
  background-color: #008552;
}

@media (min-width: 768px) {
  body {
    background-image: url("Assets/Headline-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

                          /* Header */
  nav img {
    display: none;
  }

  #logo {
    display: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    display: inline-block;
    padding: 10px 12px;
  }

  nav ul li + li {
    margin-left: 32px;
  }

  nav ul a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }
  /* Headline */
  .headline {
    margin-top: 135px;
    width: 810px;
    border: 1px solid blue;
  }

  .Primary {
    border: 1px solid black;
    width: 100%;
  }
  
  .Supporting-Text {
    border: 1px solid black;
    width: auto;
  }

  .bottom-arrow {
    display: unset;
    margin-top: 40px;
  }

  /* works cards */
  .works {
    margin-top: 300px;
    width: 100%;
  }

  .works-indicator {
    display: none;
  }

  .works-cards {
    display: grid;
    grid-template-columns: 43px 1fr 1fr 1fr 42px;
    gap: 0 1.8rem;
    grid-template-rows: auto auto;
    border: 1px solid purple;
  }
    
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-rows: 15.75rem auto;
    background-color: #ebf0ee;
    border-radius: 8px;
    margin: 24px 5px;
    border: 1px solid #c1c7d0;
  }

  .card-top-half {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ebf0ee;
    border-radius: 8px;
  }

  .card-bottom-half {
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 0;
  }

  .card-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
    border: 1px solid black;
    margin: 0;
  }

  .card-bottom-half div {
    padding: 0.5rem;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .grey-button {
    background-color: #ebf0ee;
    border: none;
    color: #172b4d;
    padding: 0.5rem 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin: 4px 2px;
    border-radius: 4px;
  }
  
  .green-button {
    background-color: #36b37e;
    border: none;
    color: white;
    padding: 0.75rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    margin: 0.5rem 0 0.2rem 0;
    cursor: pointer;
    border-radius: 4px;
  }

  .works-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1 2;
  }

  .works-two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1 2;
  }

  .works-three {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1 2;
  }

  .works-four {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2 3;
  }

  .works-five {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2 3;
  }

  .works-six {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2 3;
  }

  /* about me  */
  .About-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Assets/aboutme-right-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    width: 100%;
  }

  .about-me .Supporting-Text {
    background-color: black;
    width: 10px;
    height: 5000px;
  }

  .about-me-button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("Assets/aboutme-left-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
  }

  /* Skills section  */
  .Languages-Frameworks-skills {
    width: 100%;
    display: grid;
    grid-template-columns: 43px 1fr 1fr 1fr 42px;
    gap: 0 1.8rem;
  }

  .skill-card {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .skill-image {
    padding-top: 0;
  }
  
  .skill-card-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.5rem;    
  }

  .skill-card-title h3 {
    margin: 0;
  }
  
  .skill-technologies {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .skill-button {
    background-color: #fff;
    border: none;
    color: #36b37e;
    padding: 0.75rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
  }

  .skills-one {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .skills-two {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .skills-three {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  /* contact me */
  .email {
    display: none;
  }

  .full-name {
    display: none;
  }

  .first-last-name {
    display: flex;
  }

  #last-name {
    margin-left: 1rem;
  }

  #first-name {
    margin-right: 1rem;
  }

  .contact-me {
    flex-direction: row;
    padding-bottom: 20rem;
    background-image: url("Assets/contact-me-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .contact-header {
    text-align: left;
    margin-bottom: 5rem;
    width: 50%;
    margin-left: 70px;
  }

  .contact-me-title {
    padding-left: 0;
    padding-right: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 52px;
  }

  .contact-me-button-li {
    align-items: flex-start;
  }

  /* footer  */
  footer > img {
    display: none;
  }
}

.color1 { color: #36b37e; }

.color2 { color: #c5e9da; }

.color3 { color: #ebf0ee; }

.color4 { color: #172b4d; }

.color5 { color: #fff; }

.bg-color1 { background-color: #36b37e; }
