
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

.space {
  padding-bottom: 100px;
}

/* Header */
.header {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}

#logo {
  padding: 10px 12px;
  width: 48px;
  height: 48px;
}

.Normal-Button {
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.header-illustration-mobile {
  width: 630.38px;
  height: 653.32px;
  top: 92.8px;
}

/* Headline */
.headline {
  display: flex;
  background-image: url("Assets/headline-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
}

.Primary {
  text-align: center;
  width: 327px;
  height: 211px;
  top: 156px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.Supporting-Text {
  width: 327px;
  height: 164px;
  top: 382px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-icons {
  list-style: none;
}

.social-media-icons li {
  display: inline-block;
  padding: 5px;
}

/* Works */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  height: 150px;
  padding-bottom: 30px;
  text-align: center;
}

.works-indicator {
  padding-bottom: 62px;
}

.grid-container {
  display: grid;
  background-color: #ebf0ee;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid #c1c7d0;
}

.grid-container div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.card-top-half {
  background-color: #ebf0ee;
  height: 400px;
  border-radius: 8px;
}

.card-bottom-half {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.card-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.technologies {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.grey-button {
  background-color: #ebf0ee;
  border: none;
  color: #172b4d;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 4px;
}

.green-button {
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 17px;
  margin: 40px 0 10px 0;
  cursor: pointer;
  border-radius: 4px;
}

/* about me */
.About-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("Assets/aboutme-top.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;  
}
.about-me-button {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("Assets/aboutme-bottom.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

/* skill cards */
.Languages-Frameworks-skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.skill-card {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #ebf0ee;
  padding: 1px;
}

.skill-image {
  padding-top: 40px;
}

.skill-card-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 30px;
}

.skill-technologies {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-bottom: 80px;
}

.skill-button {
  background-color: #fff;
  border: none;
  color: #36b37e;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 8px;
}

/* contact-me */
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("Assets/footerBackground.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom ;
}

.contact-me-title {
  text-align: center;
  padding-left: 24px;
  padding-right: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  width: 90%;
}

.contact-me-button-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 24px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input {
  font: 1em sans-serif;
  font-style: italic;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
  vertical-align: top;
  height: 5em;
}
::placeholder {
  color: #6b778c;
}

textarea::placeholder {
  font-size: 15px;
  color: #42526e;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: 0.5em;
}

.email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 31px 0;
}

.contact-me-button {
  color: #fff;
  height: 48px;
  padding: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
}

/* footer */
footer {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.color1 { color: #36b37e; }

.color2 { color: #c5e9da; }

.color3 { color: #ebf0ee; }

.color4 { color: #172b4d; }

.color5 { color: #fff; }

.bg-color1 { background-color: #36b37e; }

