
.header {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}

#logo {
  padding: 10px 12px;
  width: 48px;
  height: 48px;
}

.Normal-Button {
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.header-illustration-mobile {
  width: 630.38px;
  height: 653.32px;
  top: 92.8px;
}

.headline {
  display: flex;
  text-align: center;
  background-image: url("Assets/headline-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.Primary {
  width: 327px;
  height: 211px;
  top: 156px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.Supporting-Text {
  width: 327px;
  height: 164px;
  top: 382px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-icons {
  list-style: none;
  width: 170.17px;
  height: 19.62px;
  top: 568.89px;
}

.social-media-icons li {
  display: inline-block;  
  padding: 0px 5px;
}

.color1 { color: #36b37e; }

.color2 { color: #c5e9da; }

.color3 { color: #ebf0ee; }

.color4 { color: #172b4d; }

.color5 { color: #fff; }
